anyjson==0.3.3
appdirs==1.4.2
asgi-redis==1.0.0
asgiref==1.0.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
backports-abc==0.5
certifi==2019.3.9
cffi==1.8.3
channels==1.0.3
chardet==3.0.4
circus==0.14.0
circus-web==1.0.0
constantly==15.1.0
cryptography==1.5.2
daphne==1.0.3
Django==1.11.29
django-debug-toolbar==1.6
django-eventtools==0.9.10
django-multiselectfield==0.1.5
django-redis==4.6.0
enum34==1.1.6
httplib2==0.9.2
idna==2.7
incremental==16.10.1
iowait==0.2
ipaddress==1.0.22
Mako==1.0.5
MarkupSafe==0.23
msgpack-python==0.4.8
numpy==1.11.3
packaging==16.8
pandas==0.19.1
pkg-resources==0.0.0
psutil==4.4.2
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.17
pyparsing==2.1.10
PySocks==1.5.7
python-dateutil==2.5.3
pytz==2016.10
pyzmq==16.0.0
redis==2.10.5
requests==2.20.0
schedule==0.3.2
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
slacker==0.9.29
sqlparse==0.2.2
tomako==0.1.0.post1
TornadIO2==0.0.3
tornado==4.4.2
twilio==5.6.0
Twisted==17.1.0
txaio==2.6.1
urllib3==1.23
zope.interface==4.3.3
